.page-header: h1 = title 'Spectra Search <small>GC Mass Spectrum</small>'
= render "/specdb/search/navigation", selected: :gc_ms

- if params[:commit].present?
  = form_toggler

.specdb-search-form class=(params[:commit].present? ? 'collapse' : '')
  = form_tag c_ms_search_path,
      { method: :get, class: 'form-horizontal' } do
      
    / DO NOT INCLUDE RETENTION OPTIONS
    / .form-group
        = label_tag :rention_type, 'Retention type', class: 'col-sm-3'
        .col-sm-9
          = select_tag :retention_type,
              options_for_select([['Index','retention_index'], ['Time(s)','retention_time']], params[:retention_type]), class: 'form-control'
    / .form-group
        = label_tag :rention, 'Retention', class: 'col-sm-3'
        .col-sm-9
          = text_field_tag :retention, params[:retention], class: 'form-control'
    / .form-group
        = label_tag :retention_tolerance, 'Retention Tolerance ±', class: 'col-sm-3'
        .col-sm-9
          = text_field_tag :retention_tolerance, params[:retention_tolerance],
              class: 'form-control', type: 'number'
    .form-group
      = label_tag :peaks, 'GC/MS Peak list', class: 'col-sm-3'
      .col-sm-5
        = text_area_tag :peaks, params[:peaks], id: 'peaks', class: 'form-control', rows: '15'
      .col-sm-4
        .help-block
          | Enter a mass (m/z) and a peak intensity corresponding to one peak on each line -- click the "Load Example" button for a standard input. 
          | Note also that if only the mass is entered, a default peak intensity of 100 is assumed.
    .form-group
      = label_tag :mass_charge_tolerence, 'Peak Tolerance ± (Da)', class: 'col-sm-3'
      .col-sm-9
        = number_field_tag :mass_charge_tolerence, params[:mass_charge_tolerence],
            class: 'form-control', type: 'number', min: '0', :value => 0.1, :step => "0.1"

    - if lookup_context.find_all("/search/c_ms/_filter").any?
      = render "/search/c_ms/filter"

    .form-group
      = label_tag :predicted, 'Include predicted spectra?',
          class: 'col-sm-3'
      .col-sm-9
        = check_box_tag :predicted, "1",
            params[:predicted] == "1" ? true : false

    hr
    .form-group
      .col-sm-offset-3.col-sm-5
        = submit_tag 'Search', class: 'btn btn-primary search-loader'
      .col-sm-2
        = link_to "Load Example", "#", class: "btn btn-default example-loader", 'data-no-turbolink': true, 'data-example': "'" + (render '/specdb/search/examples/c_ms.json').html_safe + "'"


- if params[:commit].present?
  hr
  h2#results Search Results
  - if @results.present? && @results.length > 0
    = render "results"
  - else
    .no-results No Results Found.