li= link_to 'LC-MS Search', specdb.ms_search_path
li= link_to 'LC-MS/MS Search', specdb.ms_ms_search_path
li= link_to 'GC-MS Search', specdb.c_ms_search_path
li= link_to '1D NMR Search', specdb.new_nmr_one_d_search_path
li= link_to '2D NMR Search', specdb.nmr_two_d_search_path