.specdb: ul.nav.nav-tabs
  - selected ||= 'ms'
  - with_options selected: selected do |nav|
    /= nav.nav_tab_link('LC-MS Search', ms_search_path, :ms)
    /= nav.nav_tab_link('LC-MS/MS Search', ms_ms_search_path, :ms_ms)
    /= nav.nav_tab_link('GC-MS Search', c_ms_search_path, :gc_ms)
    /= nav.nav_tab_link('1D NMR Search', new_nmr_one_d_search_path, :nmr_1d)
    /= nav.nav_tab_link('2D NMR Search', nmr_two_d_search_path, :nmr_2d)