body {
  position: relative;
}
main {
  margin-top: 61px;
}

#load-screen {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  img.loader {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}

.navbar-default {
  background-color: $hmdb-yellow;
  border-color: transparent;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $hmdb-blue;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav {
  margin-left: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $hmdb-blue;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $hmdb-blue;
  background-color: $hmdb-med-yellow;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $hmdb-blue;
  background-color: $hmdb-med-yellow;
}
.navbar-default .navbar-toggle {
  border-color: $hmdb-med-yellow;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $hmdb-med-yellow;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: $hmdb-blue;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $hmdb-blue;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $hmdb-blue;
    background-color: $hmdb-med-yellow;
  }
}

.navbar-brand {
  font-size: 28px !important;
  float: left;
  display: block;
  height: 48px;
  font-weight: bold;
  padding: 15px 5px;
  margin-left: 0px !important;
}

.navbar-icon {
  float: left;
  display: block;
  margin: 10px 5px 10px 0px;
  background-image: image-url('hmdb_icon_white.png');
  background-size: 20px 30px;
  height: 30px;
  width: 20px;
  &:hover {
    background-image: image-url('hmdb_icon_blue.png');
  }
}

// Collapse the navbar before it goes to two lines
@media (max-width: 1009px) {
  .navbar-header {
      float: none;
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse:not(.in) {
      display: none !important;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.navbar-form {
  .btn-search, select {
    margin-left: .3em;
  }
}

// Fix for navbar input-group width being 100%
// https://github.com/twbs/bootstrap/issues/9950
.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
  width: auto;
}

// Images used for sorting tables
.sort-link {
  white-space: nowrap;
  .img-sort-link {
    margin-left: 0.2em;
  }
}

.home-intro {
  @extend .well;
  overflow: hidden;
}

.hmp-logo {
  margin: 0 1.5em .8em 0;
  border-radius: 3px;
}

blockquote.references {
  font-size: 13px;
}

.btn-concentration-details {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  float: right;
}

.btn-default, .wishart-feedback-link > a {
  color: white !important;
  background-color: $hmdb-med-blue !important;
  border: 1px solid $hmdb-blue !important;
  &:hover {
    color: white !important;
    background-color: $hmdb-blue !important;
    border: 1px solid $hmdb-blue !important;
  }
}

.btn-primary, .btn-card {
  color: white;
  background-color: $hmdb-med-yellow;
  border: 1px solid $hmdb-yellow;
  &:hover {
    color: white;
    background-color: $hmdb-yellow;
    border: 1px solid $hmdb-yellow;
  }
}

.page-header {
  border-bottom: 1px solid $hmdb-yellow;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 30px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.pagination > li > a,
.pagination > li > span {
    color: $hmdb-med-blue;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
    color: $hmdb-blue;
    background-color: $hmdb-light-blue;
}

.pagination > .active > a,
.pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: $hmdb-med-blue;
    border-color: $hmdb-med-blue;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: $hmdb-blue;
}

.content-table > tbody > tr > th.divider {
  background: $hmdb-med-yellow;
  color: #FFFFFF;
  font-weight: normal;
  text-shadow: none;
}

footer {
  hr {
    border-top: 1px solid $hmdb-yellow;
  }
}

.sidenav {
  .affix {
    top: 60px;
  }
  .nav-header {
    font-weight: bold;
  }
}

@media (max-width: $screen-xs-max) {
  .sidenav .affix {
    position: static;
  }
}

.img-thumbnail {
  width: 100px;
}

.pathway-image {
  max-width: 160px;
}

table td {
  vertical-align: top
}

.category-ontnode {
  text-decoration: none !important;
  color: black;
}

.main-ontnode {
  text-decoration: none !important;
  color: #535353;
}

li.level-three  {
  margin-left: 2%;
}
li.level-four  {
  margin-left: 4.5%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}