doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title MsSpectralAnnotation
    = stylesheet_link_tag "application", media: 'all',
        "data-turbolinks-track" => true
    = javascript_include_tag "application", media: 'all',
        "data-turbolinks-track" => true
    = csrf_meta_tags
  body
    = yield
 